<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onesignal">

    <application>

        <meta-data
            android:name="onesignal_app_id"
            android:value="${onesignal_app_id}" />
        <!-- Deprecated - Pulled from OneSignal dashboard. -->
        <meta-data
            android:name="onesignal_google_project_number"
            android:value="str:${onesignal_google_project_number}" />

    </application>

</manifest>
